@import 'bootstrap';
@import "~@fontsource/montserrat/index.css";
@import '@/style/vars.scss';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(34, 34, 34);
}

.hidden{
    display: none;
}

.show{
    display: block;
}

// .clearfix::after{
//     content:'';
//     display: table;
//     clear: both;
// }

.section{
    display: block;
    text-align: left;
    color: $netRed;
    width: 100%;

    
}

._container{
    width: 80vw;
    margin: 0 auto;
}

