@import 'bootstrap';
@import "~@fontsource/montserrat/index.css";
@import '@/style/vars.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(34, 34, 34);
}

.hidden{
    display: none;
}

.show{
    display: flex;
}

.clearfix::after{
    content:'';
    display: table;
    clear: both;
}

.f_r{
    float: right;
    color: $tvYell;
}

.f_l{
    float: left;
    color: $netRed;
}